form input{
    padding: 10px;
}

form button{
    width: 100px;
    padding: 10px;
    margin: auto;
    background-color: crimson;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;

}
.form-div{
    margin-top: 150px;
}